<% raise "Can't render Facebook post block, block contents don't match regex" unless
	block['facebook_post_id'].to_s =~ /\A\d+\Z/ &&

	# TODO: the following regex is improvised. It might deter simple attacks, but
	# I'm not knowledgeable enough to guarantee that it will shield us from all
	# the weird stuff someone might put here.
	block['facebook_poster'].to_s =~ /\A[^\?\/\\&%#]+\Z/
%>
<div class="content-block facebook-post-block">
	<div class="fb-post" data-width="500"
		data-href="https://www.facebook.com/<%= block['facebook_poster'] %>/posts/<%= block['facebook_post_id'] %>">
	</div>
</div>
