<%
	url =
		case block['facebook_embed_type']
		when 'post'
			"https://www.facebook.com/#{block['facebook_poster']}/posts/#{block['facebook_post_id']}"
		when 'photo'
			"https://www.facebook.com/photo.php?fbid=#{block['facebook_post_id']}"
		else raise 'Unknown Facebook embed type' end
%>
<div class="content-block facebook-post-block">
	<div class="fb-post" data-width="610" data-href="<%= url %>">
	</div>
</div>
