<div class="content-block tweet-block">
  <blockquote class='twitter-tweet' align='center'>
    <a href='//twitter.com/<%= block['tweet_user'] %>/status/<%= block['tweet_id'] %>'></a>
  </blockquote>
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
